.image-bg-cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    background-position: center;
}

.textcolor-white{
    color:white;
}