{% dropdown-Text_Alignment {
    "left" : "text-left",
    "right" : "text-right",
    "center" : "text-center",
    "justify" : "text-justify"
} %}
<p class="lead {{dropdown-Text_Alignment}}">{{simple_string-Lead_Text}}</p>